aiofiles==23.2.1
aistudio-sdk==0.3.7
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anthropic==0.39.0
anyio==4.10.0
APScheduler==3.10.4
astroid==4.0.1
attrs==25.4.0
azure-ai-translation-document==1.1.0
azure-core==1.35.1
babel==2.17.0
bandit==1.8.6
bce-python-sdk==0.9.45
beautifulsoup4==4.13.4
blinker==1.9.0
Brotli==1.1.0
cachetools==4.2.4
camelot-py==1.0.9
certifi==2025.8.3
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.3
click==8.2.1
click-default-group==1.2.4
colorama==0.4.6
colorlog==6.9.0
configparser==7.2.0
contourpy==1.3.3
coverage==7.11.0
cryptography==43.0.1
cssselect2==0.8.0
cycler==0.12.1
deep-translator==1.11.4
deepl==1.23.0
Deprecated==1.2.18
dill==0.4.0
distro==1.9.0
docstring_parser==0.17.0
docx2pdf==0.1.8
easyocr==1.7.0
et_xmlfile==2.0.0
facebook-sdk==3.1.0
fastapi==0.115.5
ffmpy==0.6.4
filelock==3.19.1
fire==0.7.1
flake8==7.3.0
Flask==3.0.0
Flask-Cors==4.0.0
flask-sock==0.7.0
fonttools==4.59.1
fpdf==1.7.2
fsspec==2025.7.0
future==1.0.0
google-ai-generativelanguage==0.6.15
google-api-core==1.34.1
google-api-python-client==2.181.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==1.7.3
google-cloud-translate==2.0.1
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
googletrans==4.0.0rc1
GPUtil==1.4.0
gradio==4.19.1
gradio_client==0.10.0
grpcio==1.74.0
grpcio-status==1.49.0rc1
h11==0.16.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==1.0.9
httplib2==0.31.0
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.34.4
hyperframe==5.2.0
idna==2.10
imageio==2.37.0
imagesize==1.4.1
importlib_resources==6.5.2
iniconfig==2.1.0
iopath==0.1.10
isodate==0.7.2
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.10.0
joblib==1.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
langdetect==1.0.9
layoutparser==0.3.4
lazy_loader==0.4
loguru==0.7.2
lxml==6.0.0
mando==0.7.1
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.7
mccabe==0.7.0
mdurl==0.1.2
modelscope==1.29.2
mpmath==1.3.0
msrest==0.7.1
mypy==1.18.2
mypy_extensions==1.1.0
narwhals==2.10.0
networkx==3.5
ninja==1.13.0
nltk==3.8.1
numpy==1.26.4
oauthlib==3.3.1
openai==1.109.1
opencv-python==4.10.0.84
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.11.4
packaging==25.0
paddleocr==3.2.0
paddlex==3.2.1
pandas==2.3.1
pathspec==0.12.1
pdf2docx==0.5.6
pdf2image==1.16.3
pdfkit==1.0.0
pdfminer.six==20250506
pdfplumber==0.11.4
pefile==2023.2.7
perplexity==0.0.1
pikepdf==9.11.0
pillow==10.4.0
platformdirs==4.5.0
pluggy==1.6.0
portalocker==3.2.0
prettytable==3.16.0
proto-plus==1.26.1
protobuf==3.20.3
psutil==7.1.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyclipper==1.3.0.post6
pycodestyle==2.14.0
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
pydyf==0.11.0
pyflakes==3.4.0
Pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyLaTeX==1.4.2
pylint==4.0.2
PyMuPDF==1.26.5
pymupdf-fonts==1.0.5
pypandoc==1.12
pyparsing==3.2.3
pypdf==5.9.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyphen==0.17.2
PySide6==6.10.0
PySide6_Addons==6.10.0
PySide6_Essentials==6.10.0
PySimpleGUI==5.0.10
pytesseract==0.3.13
pytest==8.3.3
pytest-cov==4.1.0
pytest-qt==4.5.0
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.12
python-slugify==8.0.4
pytz==2025.2
pywin32==307
pywin32-ctypes==0.2.3
PyYAML==6.0.2
radon==6.0.1
RapidFuzz==3.14.1
redis==5.0.7
referencing==0.37.0
regex==2025.7.34
reportlab==4.4.4
requests==2.32.5
requests-oauthlib==2.0.0
rfc3986==1.5.0
rich==14.2.0
rpds-py==0.28.0
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
ruff==0.14.2
safetensors==0.6.2
schedule==1.2.1
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.1
semantic-version==2.10.0
sentence-transformers==5.1.0
sentencepiece==0.2.1
setuptools==80.9.0
shapely==2.1.1
shellingham==1.5.4
shiboken6==6.10.0
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
sqlite-fts4==1.0.3
sqlite-utils==3.37
starlette==0.41.3
stevedore==5.5.0
stripe==7.8.0
sympy==1.14.0
tabula-py==2.9.0
tabulate==0.9.0
tenacity==9.0.0
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.6.0
tifffile==2025.6.11
tinycss2==1.4.0
tinyhtml5==2.0.0
tk==0.1.0
tkcalendar==1.6.1
tkinterdnd2==0.4.3
tokenizers==0.21.4
toml==0.10.2
tomlkit==0.12.0
torch==2.8.0
torchaudio==2.8.0+cpu
tqdm==4.66.5
transformers==4.55.3
tweepy==4.16.0
typer==0.20.0
types-requests==2.32.4.20250913
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
ujson==5.11.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.32.0
watchdog==4.0.2
watchfiles==1.1.0
wcwidth==0.2.13
weasyprint==66.0
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.1
wheel==0.45.1
win32_setctime==1.2.0
WMI==1.5.1
wrapt==1.17.3
wsproto==1.2.0
zopfli==0.2.3.post1
